a.btn.btn-outline-primary.btn-round.font-12.create-post.float-right.blue-create-post {
    color: #2391bf;

}
a.btn.btn-outline-primary.btn-round.font-12.create-post.float-right.blue-create-post:hover {
    color: #fff;
}

section .section-header .sec-heading.new:after {
    background-color: #D716A5;
    padding: 0 20px;
    content: " ";
    position: absolute;
    bottom: -7px;
    width: 70%;
    height: 3px;
    left: 0;
}

.bg-img-btn.active  {
  background-image: url("./images/btn-blue.png"); /* The image used */
  background-color: transparent; /* Used if the image is unavailable */
   
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100% 100%; /* Resize the background image to cover the entire container */
  color: #2391bf !important;
     
}
/*Top btn Design*/
.bg-img-btn {
    width: 156px;
    text-align: center;
    height: 61px;
    line-height: 35px;}
.nav-pills .nav-link.active:after {
    border-top: 0px solid #2490be;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 1px;
    bottom: 0px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: transparent;
}
/*.btn.disabled.btn-outline-primary{border-color:#bec4d9 !important;}*/
a.create-post1 {
    background: url(./images/gray-plus-icon.png)no-repeat 10px 6px;
    padding-left: 40px;
}
section .section-header .sec-heading.widgetheading-new {
    font-size: 20px;
    color: #fff;
}
.widget-section figure.figure figcaption.figure-caption-new {
    position: absolute;
    top: 3rem;
    width: 80%!important;
}
.col-md-9.newpadding{padding: 30px;}
.figure-img-new {
     margin-bottom: 2px; 
    line-height: 1;
}
.widget-section {
    width: 100%;
}.widget-section figure.figure img {
    position: relative;width: 56%;
}
.widget-section figure.figure .figure-img-new{
    width: 100%!important;
}
figure.figure.new {
    width: 100%;
    padding-right: 26px;
}

/*Notifications Style*/
section .section-header .clearall{ color:#2192be; font-size:14px; font-weight:600; }
section .section-header .sec-heading.notifi-line:after {
    background-color: #D716A5;
    padding: 0 20px;
    content: " ";
    position: absolute;
    bottom: -7px;
    width: 76%;
    height: 3px;
    left: 0;
}
.bold-dark-text{color:#21273d ; font-size: 18px; font-weight: 600;}
.text-blue-dark{color:#2191BD ; font-size: 18px; font-weight: 600;}
.padding-media {padding-top: 10px;}