.notificationn{font-size: 24px; font-weight: 600; color: #21283e;}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background:transparent;
}
.text-blue-dark{font-size: 14px; font-weight: 600; color: #2191BD;}
.bold-dark-text{font-size: 14px; font-weight: 600; color: #21273D;}
.text-normal{font-size: 14px; font-weight: 400; color: #21273D;}
.dropdown-menu.notificationsdropdown { right: 290px; left: inherit; top: 112%; border-radius: 5px; min-width: 23rem; /*padding: 1rem;*/ box-shadow: 3px 2px 10px 0px;}
.imgtoppadding{padding-top: 12px;}


section .section-header .sec-heading.widgetheading-new {
    font-size: 20px;
    color: #fff;
}
.widget-section figure.figure figcaption.figure-caption-new {
    position: absolute;
    top: 3rem;
    width: 80%!important;
}
.col-md-9.newpadding{padding: 30px;}
.figure-img-new {
     margin-bottom: 2px; 
    line-height: 1;
}
.widget-section {
    width: 100%;
}.widget-section figure.figure img {
    position: relative;width: 56%;
}
.widget-section figure.figure .figure-img-new{
    width: 100%!important;
}
figure.figure.new {
    width: 100%;
    padding-right: 26px;
}


.pinkdot {
    position: relative;
    left: -26px;
    top: -11px;
}
.navhovercolor:hover{background-color:#eef4fa; }
.img-fluid {
    max-width: 100%;
    height: auto;
    width: 100%;
}
/*.borderright a img:after{
	height: 40px;
	display: block;
	position: absolute;
	right: 0;
}*/