section .col-12 .card .media .media-body .article-body .btn-light-gray.ignore-btn{
    line-height: 25px;
    font-size: 14px;
    color: #21283e;
    text-transform: uppercase;
    padding-left: 40px;
    padding-right: 40px;
    border-color: #ccc;
    border-width: 2px;
/*    margin-top: 12px;*/
}
section .col-12 .card.outer.new {
    padding: 20px 20px 5px 20px;
    border-radius: 15px;
    border: 0px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

a.btn.btn-round.prm-btn.font-12.float-right.reco-btn {
    margin-top: 12px;
}
/*Heading*/
section .section-header .reco-line:after {
    background-color: #D716A5;
    padding: 0 20px;
    content: " ";
    position: absolute;
    bottom: -7px;
    width: 27%!important;
    height: 3px;
    left: 0;
}
/*Modal Style*/

span.text-blue-modal {
    color: #2391bf!important;
}
button.btn.prm-btn.btn-round.font-12.btn-reco-send {
    padding-left: 45px;
    padding-right: 45px;
}
.modal-content.modal-border{border-radius: 12px!important;}
label.label-text{font-weight: 400; font-size: 20px;color: #21283e;}
.modal-body h5.title.pinkline:after {
    background-color: #D716A5;
    padding: 0 20px;
    content: " ";
    position: absolute;
    bottom: -7px;
    width: 8%!important;
    height: 3px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.gray-p {
    color: #71747e;
    font-size: 16px;
    font-weight: 400;
    color: #21283e;
    margin-bottom: 2px;
}

.sentitem a {
  background : #21283e;
}
.sentitem {
  background : #21283e;
}
.recommend-btn a span{
    display: none;
}
.recommend-btn span{
    display: none;
}
.recommend-btn.sentitem a span{
    display: inline;
}
a.recommend-btn.sentitem span{
    display: inline;
}

.bg-img-btn.active  {
  background-image: url("./images/btn-blue.png"); /* The image used */
  background-color: transparent; /* Used if the image is unavailable */
   
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100% 98%; /* Resize the background image to cover the entire container */
  color: #2391bf !important;
     
}
.bg-img-btn {
    width: 156px;
    text-align: center;
    height: 62px;
    line-height: 35px;
}

.nav-pills .nav-link.active:after {
    border-top: 0px solid #2490be;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 1px;
    bottom: 0px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: transparent;
}

/*.nav-pills .nav-link{position: relative;padding: 10px 45px;}
.nav-pills .nav-link:hover, .nav-pills .nav-link:focus{transition: none !important;}
.nav-pills .nav-link.active{background: transparent;border: 2px solid #2391bf;padding: 10px 45px;border-radius: 22px;color:#2391bf;}
.nav-pills .nav-link.active:after, .nav-pills .nav-link.active:before{top: 100%;left: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.nav-pills .nav-link.active:after{border-color: rgba(136, 183, 213, 0);border-top-color:#F3F4F6;border-width: 10px;margin-left: -12px;}
.nav-pills .nav-link.active:before{ border-color: rgba(194, 225, 245, 0);border-top-color: #2391bf;border-width: 12px;margin-left: -14px;}
*/

